---
title: Travels
---

<html> 
  <head>
    {% include head.html %}
  </head>

<body>
  <div class="relative sm:max-w-2xl text-center sm:mx-auto pb-8">
    {% include nav.html %}
    
    <div class="travels">
      <p class="font-serif">
        I keep track of all cities and countries I've visited 
        and maintain <a href="https://github.com/kirs/hedonism">a repository</a>
        with travel tips about my favourite places. 
      </p>
  
      <p class="mt-1 font-serif">
        You can <a href="https://github.com/kirs/hedonism/tree/master/map">fork this map on Github</a> and create your own.
      </p>
    </div>
  </div>

  <iframe style="width: 100%;min-height: 100vh;border: 0;" src="https://kirs.github.io/hedonism/map/"></iframe>
</body>
</html>




