<link rel="stylesheet" href="{{ site.baseurl }}/public/css/tailwind.css">
<link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<meta http-equiv="content-type" content="text/html; charset=utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<title>
  {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
  {% else %}
    {{ page.title }} &middot; {{ site.title }}
  {% endif %}
</title>

{% if page.image %}
  <meta content="{{ site.url }}{{ site.baseurl }}{{ page.image }}" property="og:image">
{% endif %}

{% seo %}

<link href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

<!-- Icons -->
<link rel="icon" type="image/png" href="{{ site.baseurl }}/public/icon.png">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
