
<div class="subscribe-form">
  <p>If you want to stay updated with my latest posts, please think about subscribing to my mailing list.</p>
  <form action="//iempire.us11.list-manage.com/subscribe/post?u=ed8afc2fc37c929da8e2501c0&amp;id=f6c7d0ad4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_ed8afc2fc37c929da8e2501c0_f6c7d0ad4c" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
</div>
