---
layout: default
---

<div class="post post-with-links">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="follow-me">
  Follow me on Twitter to get recent updates: <a href="https://twitter.com/kirshatrov">@kirshatrov</a>
</div>

<div class="sharing">
  <div class="likely likely-big" data-title="{{ page.title }}">
    <div class="twitter" data-via="{{ site.author.twitter }}">Tweet the link</div>
  </div>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<h2>Comments</h2>

{% include disqus.html %}
