---
layout: default
---

<div class="pt-3 px-2 md:px-0">
  <h1 class="text-3xl pb-3">{{ page.title }}</h1>
  <div class="post">{{ content }}</div>

  <div class="text-base text-gray-600 font-serif mt-3"> Written in {{ page.date | date: "%B %Y" }}.</div>
</div>

<div class="m-auto mt-4">
  <picture class="m-auto">
    <source srcset="/assets/layout-images/kirs.webp" type="image/webp">
    <source srcset="/assets/layout-images/kirs.jpg" type="image/jpeg">
    <img width="110" height="110" class="m-auto rounded-full" src="/assets/layout-images/kirs.jpg" alt="Kir Shatrov">
  </picture>

  <p class="font-serif mt-4">
    Kir Shatrov helps businesses to grow by scaling the infrastructure. He writes about software, scalability and the ecosystem. <a class="underline" href="https://twitter.com/kirshatrov">Follow him on Twitter</a> to get the latest updates.
  </p>
</div>

<div class="leading-6">
  <div class="py-3"><a class="text-sm text-gray-400 underline" href="kir@kirshatrov.com">kir@kirshatrov.com</a></div>
</div>

<!-- <div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div> -->
